<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-ligth">
        <a class="navbar-brand" href="/">EJS</a>
        <ul class="navbar-nav mr-auto">
            <li><a href="/">Home</a></li>
            <li><a href="sobre">About</a></li>
        </ul>
    </nav>
</header>