<!DOCTYPE html>

<%- include('../partials/head'); %>

<body class="container">
    
    <%- include('../partials/header'); %>

    <main class="jumbotron">
        <div>
            <h1>Sobre mim</h1>
            <p>Oi Sou Giuliano Vasconcelos Figueiró</p>
        </div>
    </main>

    <%- include('../partials/footer'); %>

</body>